# Dataset Import

In [1]:
import pandas as pd

In [26]:
import csv

In [135]:
data_frame = pd.read_csv("training.txt",delimiter="\t", header=None)

In [136]:
data_frame.head()

   0                                                  1
0  1            The Da Vinci Code book is just awesome.
1  1  this was the first clive cussler i've ever rea...
2  1                   i liked the Da Vinci Code a lot.
3  1                   i liked the Da Vinci Code a lot.
4  1  I liked the Da Vinci Code but it ultimatly did...

In [137]:
data_frame.describe()

                 0
count  6918.000000
mean      0.569962
std       0.495117
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

In [138]:
#data_frame.columns = ['ItemID', 'Sentiment', 'Message' ]
data_frame.columns = ['Sentiment', 'Message' ]
data_frame.head()

   Sentiment                                            Message
0          1            The Da Vinci Code book is just awesome.
1          1  this was the first clive cussler i've ever rea...
2          1                   i liked the Da Vinci Code a lot.
3          1                   i liked the Da Vinci Code a lot.
4          1  I liked the Da Vinci Code but it ultimatly did...

# Model building

## Librairies Import

In [139]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer

token = RegexpTokenizer(r'[a-zA-Z0-9]+')
                        
cv = CountVectorizer(lowercase=True, stop_words='english', ngram_range = (1,1), tokenizer = token.tokenize)
                        
text_counts = cv.fit_transform(data_frame['Message'].values)

### Spliting the data into train and test datas

In [140]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(text_counts, data_frame['Sentiment'], test_size=0.2, random_state=1)

### Text Classification Model using Naive Bayes classifier

In [141]:
from sklearn.naive_bayes import MultinomialNB

from sklearn import metrics

clf = MultinomialNB().fit(X_train, y_train)

predicted= clf.predict(X_test)
print("Naive Bayes classifier Accuracy:",metrics.accuracy_score(y_test, predicted)*100,"%")

Naive Bayes classifier Accuracy: 98.77167630057804 %

### Text Classification Model using TF-IDF

In [142]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer()
text_tf= tf.fit_transform(data_frame['Message'])

In [143]:
X_train, X_test, y_train, y_test = train_test_split(text_tf, data_frame['Sentiment'], test_size=0.2, random_state=1)

In [144]:
clf = MultinomialNB().fit(X_train, y_train)

predicted= clf.predict(X_test)
print("Naive Bayes classifier Accuracy:",metrics.accuracy_score(y_test, predicted)*100,"%")

Naive Bayes classifier Accuracy: 97.54335260115607 %